.body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #1E0606;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 110px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    text-decoration: none;
    color: #1E0606;
}

.open__sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #1E0606;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style: none;
}

/* навигация */
.header {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}

.header__logo {
    margin-right: 30px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu-list {
    padding-right: 20px;
}

.header__menu-list:last-child {
    padding-right: 0;
}

.search-wrapper {
    margin-left: 677px;
    align-items: center;
}

.header__search {
    text-decoration: none;
    margin-right: 24px;
}

.header__contact {
    font-weight: bold;
}

/* основной контент */

.hero {
    background-color: #EEE4DB;
    height: 411px;
}

.slider-wrapper {
    display: none;
}

.hero__monster{
    margin-top: 142px;
    margin-left: 555px;
    position: absolute;
}

.hero__title {
    text-transform: uppercase;
    padding-top: 89px;
    padding-left: 133px;
    padding-right: 740px;
    padding-bottom: 234px;
}

.hero__slogan{
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
}

.hero__button {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 22px;
    color: #FFFFFF;
    background: #000000;
}

.hero__delivery{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #C29974;
}

.products__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.products__category {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.delivery__list {
    list-style: none;
}

.delivery__item-focus {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    text-decoration: none;
}

.delivery__item {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    text-decoration: none;
}

.delivery-button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 22px;
    text-decoration: none;
    color: #ffffff;
    background: #000000;
}

.design__slogan {
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.DLK-btn {
    font-weight: bold;
    padding: 9px 22px;
    text-transform: uppercase;
    color: #ffffff;
    background: #000000;
}

.contact__slogan {
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.design__slg {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
}

.design__content {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.contact__content {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

/* footer */

.footer {
    background: #434343;
}

.footer__nav {
    color: #AAAAAA;
}

.footer__link {
    color: #FFFFFF;
}

.footer__info {
    color: #AAAAAA;
}

.footer__title {
    color: #AAAAAA;
}

.footer__item {
    color: #FFFFFF;
}

.footer__company {
    color: #FFFFFF;
}

.footer__copyright {
    color: #FFFFFF;
}

.footer__link {
    color: #FFFFFF;
}