ul {
    list-style: none;
}

/* navigation */

.hero {
    background: #EEE4DB;
}

.header__menu-list .header__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E0606;
}

.header__search {
    text-decoration: none;
}

.header__contact {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    color: #1E0606;
}

.hero__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
    color: #1E0606;
}

.hero__slogan{
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
}

.hero__button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 22px;
    color: #FFFFFF;
    background: #000000;
}

.hero__delivery{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background: #C29974;
}

.products__name{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.products__category {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.products__content {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.delivery__list {
    list-style: none;
}
.delivery__content{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #1E0606;
}


.delivery__item-focus {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    text-decoration: none;
}

.delivery__item {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    text-decoration: none;
}

.delivery__anytx {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.delivery-button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 22px;
    text-decoration: none;
    color: #ffffff;
    background: #000000;
}

.design__slogan {
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.DLK-btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 22px;
    text-transform: uppercase;
    color: #ffffff;
    background: #000000;
}

.contact__slogan {
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.design__slg {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
}

.design__content {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.contact__content {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

/* footer */

.footer {
    background: #434343;
}

.footer__nav {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

.footer__link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer__info{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

.footer__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}



.footer__item {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__company {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer__copyright {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer__link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #A2A2A2;
}